dist: bionic
matrix:
  include:
    - language: go
      sudo: false
      go: "1.16"
      before_install:
        - go get github.com/mattn/goveralls
      install:
        - export PATH=$PATH:$GOPATH/bin
      script:
        - make goinstall
        - make check >& /tmp/check.log
        - $GOPATH/bin/goveralls -coverprofile=covprof-ipam,covprof-index,covprof-apicapi,covprof-hostagent,covprof-controller,covprof-gbpserver -service=travis-ci
      after_failure:
        - grep -C 200 FAIL /tmp/check.log
        - tail -200 /tmp/check.log
      after_success:
        - tail -200 /tmp/check.log

