apiVersion: v1
kind: ReplicationController
metadata:
  name: busybox
  namespace: prod
  labels:
    app: busybox
spec:
  replicas: 3
  selector:
    app: busybox
  template:
    metadata:
      name: busybox
      labels:
        app: busybox
    spec:
      containers:
      - image: busybox
        command:
          - sleep
          - "3600"
        imagePullPolicy: IfNotPresent
        name: busybox
      restartPolicy: Always

